[2017-05-19 20:54] peterhulst opened #1 "An extra character is added before the image"
Briljant plugin!

However, an extra character '**Â** ' is added before the image is displayed.

Best regards,

Peter

[2017-05-19 22:47] dgt41 commented on #1
What is the charset of your site and what php version are you running ?
E.g.
[code]

[2017-05-20 07:32] peterhulst commented on #1
I use PHP 7.0.1.
The Charset is:  charset=utf-8

Best regard.

[2017-05-20 11:42] dgt41 commented on #1
@peterhulst can you test: https://github.com/ttc-freebies/plugin-responsive-images/files/1016124/v1.0.1.zip

[2017-05-20 19:41] peterhulst commented on #1
@dgt41 Thanx for your quick reply, but the update v1.0.1 does **NOT** fix problem.

[2017-05-20 19:43] dgt41 commented on #1
@peterhulst can you send me the page source of the page that failing at d.grammatiko [at] gmail [.] com ?

[2017-05-20 20:08] peterhulst commented on #1
I have sent you an example page.

[2017-05-21 10:20] dgt41 commented on #1
I am closing this, as the issue was not caused by this plugin

[2017-05-21 10:20] #1 closed

[2017-11-21 17:50] ConfidantCommunications opened #3 "Not working"
Hi,
I installed and enabled the plugin and it seems to be dead. Joomla 3.8.2. No new images are created, and no folder found in the /media directory. Am I missing an image library maybe?

[2017-11-23 09:45] cn-tools commented on #3
hi @ConfidantCommunications !

I run this code on a test system with fresh installation of Joomla! v3.8.2 and there is no additional library needed.

Is the file extension of your images uppercase?
The code - without my pull request - only support lowercase file extensions.

Is the width size of your original image greater than 360px?
Because upscaling is not implemented.

[2017-11-23 15:35] ConfidantCommunications commented on #3
Hello, I do not use uppercase extensions, and my images are all larger than 360px wide. Perhaps plugin ordering is the problem?

[2017-11-24 07:29] cn-tools commented on #3
Maybe ... i have placed it to the first position in section of type 'content'.

Did you visit your article in the front end view? The images are generated on-the-fly if the article will displayed the first time.

[2017-12-15 22:19] ConfidantCommunications commented on #3
I ended up using a different solution; sorry but I don't have time to try this anymore. It is possible that cache was causing a problem.

[2017-12-15 22:20] ConfidantCommunications commented on #3
I was using JotCache at some point.

[2017-12-24 13:15] Sophist-UK opened #4 "Does this support images in e.g. header not content?"

[2018-03-08 20:32] dgt41 commented on #4
Do you mean the intro and full images of an article?

[2018-03-09 12:50] Sophist-UK commented on #4
No idea - it was almost 3 months ago I asked this.

[2018-05-03 09:34] #3 closed

[2018-05-03 09:35] dgrammatiko commented on #4
Just to be clear here: this is a content plugin, which means it will **only** process content (article in particular) images

[2018-05-03 09:35] #4 closed

[2018-09-07 13:31] slashdottom opened #5 "Creates additional <body> tags inside the <article>."
Creates an additional `<body>` tag after the `<article>` tag and a closing `</body>` tag before the closing `</article>` tag, thereby creating 2 sets of 'body' tags in the document. See example html code below.

Tested with;

- Joomla 3.8.12
- Responsive content images 1.0.1
- YOOtheme Warp 7 template, Protostar template and Beez3 template.
- PHP 7.2

Example code;
`<!DOCTYPE HTML>`
`<html lang="e

[2018-09-07 13:48] slashdottom opened #6 "srcset ends with empty image-candidate string and sizes attribute must also be present."
W3 Validator highlights 2 issues;

1. Bad value for attribute srcset on element img: Ends with empty image-candidate string.
Seen in the example code below, there is a trailing comma and space that appears to be causing this error.

2. When the srcset attribute has any image candidate string with a width descriptor, the sizes attribute must also be present.
After removing the trailing comma and sp

[2018-09-09 11:31] dgrammatiko commented on #6
Let me know if validator is happy with https://github.com/ttc-freebies/plugin-responsive-images/pull/7

[2018-09-09 11:37] dgrammatiko commented on #5
Let me know if https://github.com/ttc-freebies/plugin-responsive-images/pull/8 solves this issue

[2018-09-10 07:52] slashdottom commented on #5
Although this fix does remove the additional opening and closing body tags, it introduces a new problem.

The first 5 characters of the line with the image are missing `<p><i` from the line `<p><img src="/media/cached-resp-images/ ...`

Because of this, the image source `my-image@320.jpg` is seen as an email address and the cloaking email JavaScript code is automatically inserted, followed by the

[2018-09-10 08:00] slashdottom commented on #6
Unfortunately this fix removes all the commas with a space within the srcset, including the unwanted comma and space at the end of the srcset line.

It now appears like this;
`<p><img src="/media/cached-resp-images/images/my-image@320.jpg" alt="image" srcset="/media/cached-resp-images/images/my-image@320.jpg 320w/media/cached-resp-images/images/my-image@480.jpg 480w/media/cached-resp-images/images

[2019-07-17 12:26] cn-tools commented on #6
should fixed with #9

[2019-07-17 12:28] cn-tools commented on #5
should fixed with #9

[2019-07-18 10:56] #5 closed

[2019-07-18 17:40] dgrammatiko commented on #6
Closing here as the pr from @cn-tools solves the problem nicely. Thanks again

[2019-07-18 17:40] #6 closed

[2020-06-14 16:04] dabogee opened #16 "Obsolete link to the plugin in joomla's plugins store"
hi! Thanks for the plugin!
Just noticed that a link on this page https://extensions.joomla.org/extension/photos-a-images/images/responsive-content-images/ refers to v.1.0.0

[2020-06-15 20:34] dgrammatiko commented on #16
@dabogee thanks for this one!
I've updated the JED info

[2020-06-22 22:02] #16 closed

[2020-07-04 11:31] impressionestudio opened #21 "Not working in module"
Hi,

I have used the plugin successfully for manipulating the content images of an article and I noticed that it has a great impact in Google Page Speed especially when the content images are big and many.

But I tried twice (the second try after long time from the first in order to be sure) to use the code in my module according to the easy instructions but the returned images are an empty string

[2020-07-04 12:25] dgrammatiko commented on #21
@impressionestudio can you copy/paste the code you've used?

[2020-07-04 13:48] impressionestudio commented on #21
The PHP code is:

[code]

The image tag without using your code is:
`<img src="https://www.kalamatamediterraneanvillas.gr/images/destinations/kalamata-1-intro.jpg" data-src="https://www.kalamatamediterraneanvillas.gr/images/destinations/kalamata-1-intro.jpg" class=" jch-lazyloaded" alt="">`

Notice that the image url is full and not relative.

[2020-07-05 10:34] impressionestudio opened #22 "PNG images with transparency get black background"
One more issue that I met.
When I use PNG images that have transparency then the resized images appear with black background.

[2020-07-05 13:32] dgrammatiko commented on #21
So I went over the code and you're right it expects a relative URL. An easy work around for your example could be:
[code]

or if the variable has already the full path:

[code]

basically `str_replace(\Joomla\CMS\Uri\Uri::base(), '', $imageVariable)` will convert any (same host) absolute path to relative.

[2020-07-05 14:28] dgrammatiko commented on #22
This is a problem with the underlying Library that this plugin is using (https://github.com/joomla/joomla-cms/tree/staging/libraries/src/Image)...

[2020-07-06 10:53] impressionestudio commented on #21
Using the relative path solved the problem.
Thanks for the help.

[2020-07-06 11:02] #21 closed

[2020-07-06 11:33] impressionestudio commented on #22
Ok, I added an issue for this library.

[2020-07-06 11:40] impressionestudio commented on #22
And by the way. Why the images are saved in the "media" folder and not in the "cache" folder?
Saving the images in the "cache" folder makes it easier to clean the old images and refresh the updated images.

[2020-07-06 13:30] dgrammatiko commented on #22
The cache folder is wiped out on every update so it would be really counter productive if you had to recreate **all** the images because there was an unrelated update in some php files...

[2020-07-06 13:37] SharkyKZ commented on #22
The issue is coming from here:

https://github.com/ttc-freebies/plugin-responsive-images/blob/ca1a1164e438aff9d5092514cd958667c089c8ef/src/helper.php#L207-L222

These should be constants, not strings.

[2020-07-06 15:18] impressionestudio opened #24 "SVG images don't display"
It seems that the plugin can't exclude the svg images and it deletes them completely .
So wherever I use SVG images, they disappear.

[2020-07-08 22:30] #24 closed

[2020-07-08 23:21] #22 closed

[2020-07-08 23:23] dgrammatiko commented on #22
Thanks @SharkyKZ I guess I should do a better code review before merging anything

[2020-07-10 13:09] impressionestudio opened #27 "Webp format is not supported by Imagick installation"
I tested the new version 3.5.3 and one page crashed with the following message: "Webp format is not supported by Imagick installation".

[2020-07-10 14:36] dgrammatiko commented on #27
This is a probably a misconfiguration of your server (eg: it reports support for WebP but in reality it doesn't have all the needed dependencies). Is this localhost? What OS? What's you phpinfo?

[2020-07-10 15:25] dgrammatiko commented on #27
Please try 3.5.4

[2020-07-11 08:55] impressionestudio commented on #27
Ok, it works now.
But I noticed that the PNG images with transparency are converted with black color in the transparent areas.

[2020-07-11 10:52] dgrammatiko commented on #27
I have tested the png transparency with multiple files successfully. Could you provide me the file that is misbehaving?

[2020-07-11 11:01] impressionestudio commented on #27
Ops sorry, I guess it was the cache.
I had to clean cache and do hard reload a couple or times to load the images correctly.
So there is no problem. My fault.

[2020-07-11 12:10] dgrammatiko commented on #27
Good news, please consider submitting a review: https://extensions.joomla.org/extension/responsive-content-images/

[2020-07-11 12:10] #27 closed

[2020-07-11 15:40] impressionestudio commented on #27
Didn't know it was published in Joomla Extensions directory. I wrote a review but at the moment the confirmation is pending.

[2020-12-18 16:57] peterhulst opened #30 "Should also be working on the home page (com_content.featured)"
It is easy to make the plugin also working on the home page.

Just modify in responsive.php:

//  if ($context === 'com_content.article' || $context === 'com_content.category') {
to:
    if ($context === 'com_content.article' || $context === 'com_content.featured' || $context === 'com_content.category') {

and:
//  if ($context === 'com_content.article' && !empty($row->text)) {
to:
    if (($conte

[2020-12-30 19:25] dgrammatiko commented on #30
This is interesting, will investigate and release a new version with this

[2021-01-21 13:09] renovate[bot] opened #32 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 14:45] #32 closed

[2021-07-08 03:27] ch2856 opened #38 "Image quality"
Even if using 100% for quality, the image quality is very low.

[2021-07-08 07:34] dgrammatiko commented on #38
Are you on joomla 3 or 4? Also what version of this plugin are you using, and what was the type of the input image (png, jpg)?

[2021-07-08 08:39] ch2856 commented on #38
Joomla 3.9.28, plugin v3.5.5 and .jpg, 100% quality, no scale up.
I do have to mention that all my images are optimized in photoshop for web (50% quality) before uploaded.

Thanks

[2021-07-15 09:59] RickR2H opened #39 "Error json_decode(): Argument #1 ($json) must be of type string, stdClass given"
Hey Dimitris,

Really nice plugin but I've got a small problem. After install I got an error.
It's on this line: https://github.com/ttc-freebies/plugin-responsive-images/blob/4.0.0/src/plugins/content/responsive/responsive.php#L76

Cheers!

[2021-07-15 10:10] dgrammatiko commented on #39
Oh the json_decode() should be redundant as the params are already transformed to an object. Will check later on and release an update. Also, I need to finish the docs for the layouts...

[2021-07-15 19:33] RickR2H commented on #39
Great! Thanks for the work! I'll test as soon as there is a new version!

[2021-07-18 19:54] dgrammatiko commented on #39
@RickR2H there's a new release and should fix the error. My fault I was testing with all the formats without checking what was supported.

Check https://responsive-images.dgrammatiko.dev/downloads/index.html

[2021-07-18 21:41] dgrammatiko commented on #38
@ch2856 could you send me one image that gets really bad quality from the plugin to d.grammatiko [at] gmail.com?

Thanks

[2021-07-18 21:43] dgrammatiko commented on #30
@peterhulst the version 4 (only for Joomla 4 atm) implements this plus a convenient way to add any component/module. You can check it https://responsive-images.dgrammatiko.dev

Thanks

[2021-08-05 11:01] dgrammatiko commented on #39
@RickR2H is the issue resolved with the latest release?

[2021-08-05 12:13] RickR2H commented on #39
Have been on holiday and have not been able to test Wil try asap!

[2021-08-06 10:50] #30 closed

[2021-08-06 14:38] dgrammatiko commented on #38
There is nothing wrong with the quality of the `produced images`. Fine-tuning images per instance will always be more efficient than a global setting, eg 75%. Also, this plugin is creating many images with different sizes so the efficiency is given and far superior to having 1 image fine-tuned to a size of some kb, as the browser will download only the best-fit image.

[2021-08-06 14:38] #38 closed

[2021-08-08 14:16] RickR2H commented on #39
Hey Dimitris, Errors are gone but the srcset is not added to the article. The image is indeed found in the article, but not replaced. Maybe I'm doing something wrong...

I did a var_dump:

![image-4](https://user-images.githubusercontent.com/5610413/128635087-dccc2b60-6744-4ad7-875d-100173c12ed4.jpg)

I'm on a Windows machine / WAMPserver

[2021-08-25 04:52] renovate[bot] opened #40 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

This repository currently has no open or pending branches.

---

- [ ] Check this box to trigger a request for Renovate to run again on this repository

[2021-09-19 11:47] dgrammatiko commented on #39
@RickR2H  was the image an intro or a fulltext image? If so there was a bug in the layout override (I assume you already downladed the overrides needed from here: https://responsive-images.dgrammatiko.dev/create-template-overrides/index.html

Let me know if that was the issue or there's something weird due to the OS (Windows)

[2021-12-05 14:05] dgrammatiko commented on #39
This was fixed some time ago. @RickR2H if you're still getting errors please re open. Thanks

[2021-12-05 14:05] #39 closed

[2022-03-08 12:15] AndreaDelton opened #147 "Source type/webp and browser not compatible"
Local site on Xampp; Joomla 4.1.0, plugin enabled and tests both on Cassiopeia and other frameworks, with image.php override. I encountered this problem: if you choose to get the images also as Webp, the photos are not seen on IE11, and a webp version of the image is provided in <img>.
If you go back and delete only the choice of the Webp, with all browsers (IE, Edge, Chrome and Firefox), while cl

[2022-03-08 13:10] dgrammatiko commented on #147
This is obviously a bug. Could you please test https://github.com/ttc-freebies/plugin-responsive-images/pull/148 ?

I will release an update the coming days

Thanks

[2022-03-08 14:16] AndreaDelton commented on #147
I tried the new version of the Helper: unlike before, now the Webp source does not always appear, even if you only choose the JPG format.
For IE the image in <imc> is not displayed, even if it is in JPG format.
With all browsers, with the new Helper.php, the plugin creates the code with "source" only for the fulltext image and does not work with the intro_images in the "blog category" view (previo

[2022-03-14 23:57] #147 closed, assigned to nobody

[2022-03-15 19:03] AndreaDelton commented on #147
Good evening, I hope to be able to contribute to the development of the
plugin by reporting the following, after updating the plugin with the
latest changes made by you and having repeated several tests (I have always
cleared the cache of the various browsers). Before the penultimate
modification of the Helper.php file, both the intro and the full images
were obtained with code <source>, in the ar

[2022-03-16 18:11] AndreaDelton commented on #147
I add to the email sent yesterday the results of other tests performed
with a highlights module made by me and further tests with the Joomla
"Blog" view: I have chosen as breakpoint 768, 1200, 1600 and 1920; unlike
what was written yesterday, it also creates the right code for the
intro_image, but on condition that the intro_image of the article is bigger
than 768px. I have the intro_images in one

[2022-03-24 16:22] nadjak77 opened #159 "add your plugin to mod_custom"
Hi,
first of all: thank you for the great plugin! It works really great.
I have some images in mod_custom and want to use your plugin for this images, too.
So I add in your plugin:
component name:
component views: content,default
component database coluns: introtext,fulltext,text

But something is wrong. I think the component view is the wrong one. Can you help me?
Thanks
Nadja

[2022-03-25 13:58] dgrammatiko commented on #159
Can you share the layout that you're using for the mod_custom?

[2022-03-25 14:48] nadjak77 commented on #159
It is the default Layout from  joomla.
I just updated the site from joomla3 to joomla4

[2022-03-25 22:05] dgrammatiko commented on #159
Ok here's an example (file responsive.php in your template/html/mod_custom):

[code]

Needs to be selected in the options of the module:
<img width="1707" alt="Screenshot 2022-03-25 at 22 59 21" src="https://user-images.githubusercontent.com/3889375/160208173-d8f68e19-266c-4d8c-807b-fc1494464cf4.png">

And the result is:
<img width="1728" alt="Screenshot 2022-03-25 at 22 58 50" src="https://user-i

[2022-03-28 07:11] nadjak77 commented on #159
Sorry, it still doesn't work.
In your plugin:
![grafik](https://user-images.githubusercontent.com/37655645/160344643-e962a11b-7a4b-4718-b7af-50684420dca6.png)

Layout in my modul:
![grafik](https://user-images.githubusercontent.com/37655645/160344765-d74c6ac3-6652-4607-a909-f2062f7fdb8b.png)

example page with the result:
https://www.spree-immobilien-beeskow.de/immobilien-tauche
all images are in

[2022-03-28 09:20] dgrammatiko commented on #159
Make sure that your template has [this file](https://github.com/ttc-freebies/plugin-responsive-images/blob/4.0.0/src/package/image.php) in the `html/layouts/joomla/image.php`.

Also the image should not be inside the editor but rather in the image background
![Screenshot 2022-03-28 at 11 38 57](https://user-images.githubusercontent.com/3889375/160371078-f17e0adc-0cb8-425e-af5b-1fc718a22906.png)

!

[2022-03-28 09:44] nadjak77 commented on #159
sorry, it still doesn't work.
I added the standard and contetn to your plugin:
![grafik](https://user-images.githubusercontent.com/37655645/160371159-a08273df-f449-41d9-b67a-e7520526d556.png)
I added the image.php file to my template html/layouts/joomla/

I found something strange:
At the bottom of the site is a contact part with to images (a blue "ivd" logo and a yellow "DIA Zert" logo). The yell

[2022-03-30 12:39] woluweb commented on #159
Hi @nadjak77

I have just tested this successfully.
See https://dev.festivalmusiq3.be/responsive-banner

No need to change anything to the plugin parameters.
Just
- create the Alternate Layout (.php file) for Custom HTML Module
- create a Custom HTML Module
- add some text in the editor
- on the tab Options - select a "background image"
- on the tab Advanced, select the Layout you have just create

[2022-03-31 09:00] nadjak77 commented on #159
Ah! Thank you so much @woluweb . In the tab options "Inhalte vorbereiten" (I don't know the english text) was set to no. Switch to yes and it works.

[2022-03-31 09:13] woluweb commented on #159
it is called "prepare content" (but in my case I think it does work whether or not "prepare content" is set to Yes)

[2022-04-04 10:56] woluweb opened #162 "plugin seems to not trigger on Images for the Smart Search Result Page"
See https://github.com/joomla/joomla-cms/pull/37450#issuecomment-1087285125

[2022-04-04 13:14] dgrammatiko commented on #162
Just copying over the original issue

One thing that I was wondering though @dgrammatiko : the plugin Responsive Images works automatically a.o. for intro & full images, for images within the articles, even in Custom HTML Modules.
But why doesn't it trigger for the Smart Search Result Page?

Indeed I get
`<img src="/images/concerts/bw1.jpg" alt="L'Ombre de Saint-Saëns" width="2000" height="1334" l

[2022-04-04 13:16] dgrammatiko commented on #162
@woluweb do you have an override in all your templates like `templateName/html/layouts/joomla/html/image.php`?

It's probably a missing override of the file `templateName/html/layouts/joomla/html/image.php`.
You can get an installer for the override [here](https://responsive-images.dgrammatiko.dev/create-template-overrides/index.html), just ender the name of your template and then install the plug

[2022-04-04 14:49] woluweb commented on #162
the file `image.php` was indeed present both
- in the parent template `/templates/cassiopeia/html/layouts/joomla/html/image.php`
- as in the child template `/templates/cassiopeia_fm3/html/layouts/joomla/html/image.php`

But I noticed that there were 4 days of difference between the 2 files. When opening them, the content was slightly different.
So I uninstalled the Package 4.0.7
It did uninstall b

[2022-04-04 17:24] dgrammatiko commented on #162
@woluweb your site should be fine. I will try to have a release the coming days

[2022-04-04 18:30] woluweb commented on #162
héhé, I see that it works now on the website after your intervention. Excellent! Txs :)

oh, btw: if you release a new version, 1 typo:
- Scalling => Scaling

3 questions about the plugin since we are busy 😅 :

1. JPG is by default 85%, webp 60% and avif 40%. It it because 60% & 40% are good enough? Or was it just an example?
2. on the Components tab, only com_content & mod_articles_category are c

[2022-04-08 15:02] AndreaDelton commented on #159
I confirm that the plugin works very well even by not adding mod_custom and parameters in the plugin settings.
The problem remains that the plugin does not show images on Internet Explorer, as from attached photos.
The images would be seen if the plugin wrote the name of the site in the src of the img in JPG (in my test just add / helix before the / media / etc to see the photo). Could this fix be

[2022-04-08 15:24] dgrammatiko commented on #159
Cay you try something for me (as it's hard atm to get an instance of IE locally):

in the IE console, find the image element and in the `src` attribute change the `?version=....` to `#...` (keeping the alphanumeric value just replace the `?version=` with a `#`). If that works I can add a patch this weekend

[2022-04-08 16:19] AndreaDelton commented on #159
I have tried and unfortunately it still doesn't work, as you can see from the photo. I am available to make any other tests that you deem necessary. Thanks.

![IMG with #](https://user-images.githubusercontent.com/100350887/162482028-35f3fa55-def1-421c-8f5a-b4c71a79c67f.jpg)

[2022-04-08 16:28] dgrammatiko commented on #159
@AndreaDelton there's some more information about IE not displaying images if there's no extension: https://answers.microsoft.com/en-us/ie/forum/all/some-jpeg-pictures-do-not-display-on-ie11-but/ccdb61db-8763-4804-9d12-cfb53dab7940

Basically, that's a security option that is totally wrong as the types of files on the internet are not supposed to be sniffed from the extension (but rather from the

[2022-04-08 19:35] AndreaDelton commented on #159
Thanks for your patience. I set IE security parameters to a minimum, but nothing has changed. At the moment I can't try an online production site, but I saw it has the same problem, with IE, the online site that Woluweb reported:

https://dev.festivalmusiq3.be/responsive-banner

Woluweb could tell us a little more. Anyway thanks.

[2022-04-09 14:47] woluweb commented on #159
FYI: I tried to open the page with IE... but I discovered that clicking on the IE icon does not open IE anymore but Microsoft Edge actually.

[2022-04-09 17:52] AndreaDelton commented on #159
Thanks Woluweb and Dimitris.
It is true that IE is dying but I assume that many will continue to use it for a while and I would like them to see the images too. So I went into the Helper.php and on line 171:
      'src="/media/cached-resp-images/' . $image['dirname'] . '/' . $image['filename'] .

if I add the site name (I don't know the exact parameter code to write for different site names), it a

[2022-04-09 20:05] dgrammatiko commented on #159
@AndreaDelton that is correct but you will also have to apply that patch for every update. As I said supporting IE is not something that I'm really interested at this point of time (weeks before even Microsoft bans it) and on top of that Joomla 4 itself is not supporting it so...

Anyways there's a 4.1 beta, https://responsive-images.dgrammatiko.dev/downloads/index.html that should address the bug

[2022-04-09 20:05] #159 closed, assigned to nobody

[2022-04-09 20:17] dgrammatiko commented on #162
These are empirical values and should work fine for most images

I think I really need to explain what these options do, in a very short description the user can select the `textarea` fields that the plugin needs to look for images. The component and views are for narrowing the scope (efficiency/performance) and the  `Component Database Columns` the name of the database columns that hold the data

[2022-05-04 09:24] RickR2H opened #182 "Double slashes in URL"
I noticed that the plugin generated double slashes in the URL's.

![Image001](https://user-images.githubusercontent.com/5610413/166655187-7e1f7814-7f3f-4306-a2ac-a597477b004c.jpg)

[2022-05-04 09:46] dgrammatiko commented on #182
What version are you using?

[2022-05-04 09:48] RickR2H commented on #182
Sorry, forgot to mention. The 4.1.0 Beta 1 release.

[2022-05-04 09:52] dgrammatiko commented on #182
And server info, OS, php?

[2022-05-04 09:54] RickR2H commented on #182
WAMP on Windows 10 / PHP 8.0.13

[2022-05-04 10:43] dgrammatiko commented on #182
@RickR2H 4.1.0-beta-2 should fix it: https://responsive-images.dgrammatiko.dev/downloads/index.html, if not please reopen

[2022-05-04 10:43] #182 closed, assigned to nobody

[2022-05-04 11:08] RickR2H commented on #182
Fix works! Thanks! FYI I had to uninstall the previous version to get it to work.

[2022-05-04 11:18] RickR2H opened #183 "Undefined array key"
@dgrammatiko I noticed that when I have an image changed to an other one in the intro and full text image fields there is a warning. The warning only happens once. Maybe this is due to the fact that the images where added in de beta 1 version?

![Image002](https://user-images.githubusercontent.com/5610413/166671380-aa32eaa9-3b1e-4038-a857-64bd8d411075.jpg)

[code]

[2022-05-04 12:02] dgrammatiko commented on #183
@RickR2H should be fixed with 4.1.0-beta.3. If not please reopen the issue.

Thanks

[2022-05-04 12:02] #183 closed, assigned to nobody

[2022-05-11 07:48] nadjak77 opened #191 "how can I delete the cache"
I found some img who are really to large. So I resized theme to the right width and height.
But in your cache the old width and height is storaged. How can I delete the cache?
I renamed the folder in media/cached-resp/images/images but now I only see broken images.
Thanks.

[2022-05-11 11:22] dgrammatiko commented on #191
If you resized them using Joomla's Media Manager then the cached images are already replaced. If you did it manually you need to ssh to your server and delete them manually

[2022-05-11 12:35] nadjak77 commented on #191
Ah! I have to delete the hole cached-resp-images folder. I only deleted a subfolder.
Now it works.
Thank you

[2022-05-30 10:42] micker opened #205 "Some problem to works with this plugin"
hello i didn't find a good way to actived this plugin
1 i install it + override in my template
![image](https://user-images.githubusercontent.com/2539440/170975906-d8022eff-45f7-4800-9041-2eae2c12d6b2.png)
![image](https://user-images.githubusercontent.com/2539440/170975942-50081519-598f-4bda-bc2e-01d9def196f9.png)

2 in article view no change
https://proscess.org/soutiller/les-outils-de-diagnosti

[2022-05-30 11:24] dgrammatiko commented on #205
What component renders this view?

[2022-06-01 08:02] micker commented on #205
in article view joomla : https://proscess.org/soutiller/les-outils-de-diagnostic-de-la-promotion-de-la-sante?view=article&id=33:diagnostic-proscess&catid=12:les-outils-de-diagnostic-de-la-promotion-de-la-sante)
![image](https://user-images.githubusercontent.com/2539440/171356838-133124af-ea94-4f2f-abd6-9b988ef42517.png)

here, its an joomla article view with pagebuilderck https://proscess.org/

[2022-06-01 12:45] dgrammatiko commented on #205
@micker so it turns out that:
- there was a small bug on one conditional that's why you got the notification on line 219 (fixed with 4.1.0)
- your server doesn't have any image library (imagick of GD) which is a prerequisite for this plugin (but also for Joomla's media manager editing functionality). Check with your host how to enable either GD or imagick (preferably imagick to get AVIF support)

[2022-06-01 14:16] micker commented on #205
ahhh i actived GD it works on article view
but no here
https://proscess.org/
internal redircetion
do you have an idea ?

[2022-06-01 14:24] dgrammatiko commented on #205
Hmm, this might be a Joomla bug or something in my code, let me explain:

The URL of the image is:
[code]
With the image name: `informer Petit_1920.jpg`. The space is the one that creates the problem as it needs to be escaped (eg instead of ` ` should be `%20`)

I'll debug this later today and if it's a bug on my side I'll create a new release, if it's on Joomla's side you will need to open an iss

[2022-06-01 14:31] micker commented on #205
ok thanks
can i disable plugin on my site ? no need for debug ?

[2022-06-01 14:40] dgrammatiko commented on #205
You don't need the debug anymore

[2022-06-01 14:40] micker commented on #205
thanks

[2022-06-01 19:27] dgrammatiko commented on #205
@micker [4.1.1](https://responsive-images.dgrammatiko.dev/downloads/index.html) should fix the bug.
Thanks for reporting.

[2022-06-01 19:27] #205 closed, assigned to nobody

[2022-06-12 03:49] mediafoks opened #212 "picture in picture"
Hello!
If there is already an PICTURE on the page, then the plugin also processes them and it turns out like this:
[code]
How to exclude existing PICTUREs from processing by the plugin?

[2022-06-12 09:21] dgrammatiko commented on #212
Where is this happening, can you post the layout?
If this is happening in a textarea field, please make sure you use a modern editor (ie NOT jce)

[2022-06-12 17:42] mediafoks commented on #212
Joomla 4.1.4, editor - CodeMirror.
Code before:
[code]

Code after:
[code]

[2022-08-03 09:35] mediafoks opened #257 "Webp doesn't work"
Joomla 4.1.5, plugin v. 4.1.1
The "Create WebP images" plugin settings are enabled, but the webp does not generate.
Source Code:
`<img src="/images/img.jpg">`
Out:
[code]

[2022-08-03 09:41] dgrammatiko commented on #257
@mediafoks could you please share the `PHP Information` part of your system info `administrator/index.php?option=com_admin&view=sysinfo`

If you're using GD should be something like:
<img width="1144" alt="Screenshot 2022-08-03 at 11 39 32" src="https://user-images.githubusercontent.com/3889375/182577170-41a5ef40-6dfa-48d1-affa-c9168c9136fb.png">

Similar goes for imagick...

If your installation

[2022-08-03 10:15] mediafoks commented on #257
Thank you!
gd MP Support - enabled, but imagick ImageMagick supported formats - webp no.

[2022-08-03 10:19] #257 closed, assigned to nobody

[2022-08-03 10:26] dgrammatiko commented on #257
The graphic library is automatically picked with priority to imagick:
https://github.com/ttc-freebies/ttc-common-library/blob/6ffce4341b96815da6a189a471a2a9158835f7e9/src/libraries/Ttc/src/Freebies/Responsive/Helper.php#L213-L217

Maybe you could ask your host provider for an update of imagick, the latest versions have also support for Avif which is a better format (mostly leaner files with less a

[2022-08-03 10:37] dgrammatiko commented on #212
@mediafoks I'm sorry for the late response here, I thought I have answered on this issue...

If this is something not created by a plugin or an editor button then you shouldn't use picture element because that will be automatically created by the plugin. Eg instead of manually writing

[code]

just write

[code]

That will prevent the Picture in Picture. If this is a generated HTML from some plugi

[2022-08-03 10:45] mediafoks commented on #212
Thanks

[2022-08-03 10:45] #212 closed, assigned to nobody

[2022-09-27 19:04] dgrammatiko commented on #191
A button allowing to clear the saved source sets images will come with 4.2

[2022-09-27 19:04] #191 closed, assigned to nobody

[2022-10-05 12:50] bahman-gh858 opened #302 "Intro image mod_articles_latest"
Hi!

Thanks for great plugin.

I have template override, mod_articles_latest which displays the article intro image.
But the plugin donen't seem to work for those images. I have I have tried with different Component Views and Component Database Columns.

Thanks!

[2022-10-05 13:10] Der-Lizzard commented on #302
Work with template override for mod_articles_latest (intro_image), but not automatically. I have to integrate it by myself in the override-file. Testet with template shaper_helixultimate.

[2022-10-05 17:42] bahman-gh858 commented on #302
Der-Lizzard, what do you mean by "ntegrate it by myself"? Can you explain a little more.

[2022-10-05 17:58] dgrammatiko commented on #302
@bahman-gh858 it would more helpful if you have shared your code. Anyways render you image like:

[code]

Read more here: https://magazine.joomla.org/all-issues/february-2022/new-image-convention-to-help-developers

[2022-10-05 19:27] bahman-gh858 commented on #302
Thanks dgrammatiko!
I am using this code, which is published on:
 https://web-eau.net/en/development/joomla-overrides/tips-and-snippets-for-override

// Display the intro image of an article
	$article_images  = json_decode($item->images);
	$article_image   = '';
	$article_image_alt   = '';
	if(isset($article_images->image_intro) && !empty($article_images->image_intro)) {
		$article_image  = $artic

[2022-10-05 19:36] dgrammatiko commented on #302
Try this

[code]

[2022-10-05 20:17] bahman-gh858 commented on #302
Thanks! It worked.

Great support!

[2022-10-06 13:01] Der-Lizzard opened #304 "Double-Slash in img-Tag"
Hi dgrammatiko,

i've seen that there is a double-Slash // in the img-tag. Is it a bug or something wrong in my configuration of the plugin?

Output from a standard content (blog-content):

![dgrammatiko-double-slash](https://user-images.githubusercontent.com/115063400/194318099-ed428b4f-f9e4-40c7-bd0e-8524a405ce3e.JPG)

Tested with:

- Joomla 4.2.3
- Plugin Version 4.1.1
- Templates: Cassiopeia &

[2022-10-07 07:27] dgrammatiko commented on #304
Could you try 4.2.0: https://github.com/ttc-freebies/plugin-responsive-images/blob/580d56b8fa5c8e4349102bb8182ce61f2b7a2778/site/dist/pkg_responsive_4.2.0.zip

[2022-10-07 08:08] Der-Lizzard commented on #304
Fixed with 4.2.0 - works fine!

Thx for the fast support

[2022-10-07 08:08] #304 closed, assigned to nobody

[2022-10-11 16:44] dgrammatiko commented on #162
@woluweb I will close this as I think that everything is covered with 4.2.0. If not please feel free to reopen or create a new issue

[2022-10-11 16:44] #162 closed, assigned to nobody

[2022-10-18 07:34] pl71 opened #313 "Can't get it to work"
Or maybe my understanding is wrong.
I'm expecting something like DJ-WebP plugin, which is working in principle but is now disabled.
I have a Joomla site with featured articles on the home page like a blog.
Articles are published using JCE Free Edition. There are no media resize, etc. options, so when an author uploads images, he/she is uploading images with full resolution. Photos are located in s

[2022-10-18 08:43] dgrammatiko commented on #313
JCE is using their own media manager which is not compatible with the Joomla one. The events that this plugin is listening are not compatible (and will never be) with the ones from JCE. Try uninstalling JCE and see if that was the problem

[2022-10-18 11:11] dgrammatiko commented on #313
Also could you confirm that you have a file `templates/cassiopeia/html/layouts/joomla/html/image.php`
and the contents of that file are:

<details>
<summary>image.php</summary >

[code]

</details>

[2022-10-18 11:58] pl71 commented on #313
Yes, I have this file there, also I have it in 'templates/cassiopeia_my_child_template/html/layouts/joomla/html/'
Both files are the same. They match your code above.
Re: your first post, I do prefer using JCE, but for the testing, I will uninstall it.

[2022-10-18 12:03] dgrammatiko commented on #313
Is your site public? If so can you share the url?
Also there is version 4.2 available [here](https://github.com/ttc-freebies/plugin-responsive-images/blob/580d56b8fa5c8e4349102bb8182ce61f2b7a2778/site/dist/pkg_responsive_4.2.0.zip) (I need to finish the docs before publishing it)

[2022-10-18 13:14] pl71 commented on #313
https://www.chernorizets.com/
JCE is still installed there.

Published items:
- Content - Responsive Images - 4.1.1
- Select Media-action - Responsive Images
- pkg_responsive

 I'm experimenting with a local version running on XAMPP for Windows also, but still not sure what to expect.
Btw, your [demo ](https://extensions.joomla.org/extension/responsive-images/) is n/a

[2022-10-18 16:07] dgrammatiko commented on #313
@pl71 turns out that you're using absolute paths for your images. Responsive images (this plugin) assumes relative paths, as that is also the recommendation. There are options on every editor (either the latest tinyMCE that comes with J4 or the outdated jce) that allow you to do that. In simple terms you images should be like `<img src="/foo/bar.jpg">` instead of the current `<img src="scheme://ww

[2022-10-18 18:54] pl71 commented on #313
Hmm... So far so good. Relative paths are probably better, already switched on in JCE. I was also curious how these absolute paths would be handled in case I have to migrate.
Plugin is working - [test page](https://www.chernorizets.com/%D0%B4%D0%BE%D1%81%D1%82%D0%BE%D0%B9%D0%BD%D0%B8-%D1%87%D0%B5%D1%80%D0%BD%D0%BE%D1%80%D0%B8%D0%B7%D1%86%D0%B8/%D0%B1%D0%BB%D0%B0%D0%B3%D0%BE%D1%82%D0%B2%D0%BE%D1%80

[2022-10-18 20:01] dgrammatiko commented on #313
You can verify which image is in use by inspecting/selecting the image element and then in the console type `$0.currentSrc`
Eg
<img width="1233" alt="Screenshot 2022-10-18 at 21 55 21" src="https://user-images.githubusercontent.com/3889375/196531173-5052e6dd-64ed-499f-b855-bfb0138f5a5c.png">
<img width="1187" alt="Screenshot 2022-10-18 at 21 55 04" src="https://user-images.githubusercontent.com/38

[2022-10-19 08:04] pl71 commented on #313
@dgrammatiko thank you for the hint and link. I am aware of the importance of height and width attributes regarding [CLS](https://web.dev/optimize-cls/).
Anyway, JCE (again JCE, but TynyMCE also) is using them to instruct browsers about size, instead of placing some inline CSS code with every image. And the browser is performing as per these attributes obviously. I will appreciate it if the plugin

[2022-10-19 08:24] dgrammatiko commented on #313
This plugin is not just converting jpg/png to webp (or avif). It also generates source sets with different sizes, so maybe that's not what you're looking for?

And the example you provided is also using CSS to achieve that (`style="width: 50%"`)
![Screenshot 2022-10-19 at 10 13 45](https://user-images.githubusercontent.com/3889375/196635688-6aec61a4-9cbc-4346-a8e9-1a3b564c74f2.png)

Sorry that won

[2022-10-19 08:24] #313 closed, assigned to nobody

[2022-10-19 08:37] dgrammatiko commented on #302
I'm closing this as the issue was resolved

[2022-10-19 08:37] #302 closed, assigned to nobody

[2022-10-19 13:21] pl71 commented on #313
Thank you, noted. Btw 4.2.0 is working well. Except UTF-8 encoding is broken - file names, alt tag... Following some [bits of advice](https://stackoverflow.com/questions/8218230/php-domdocument-loadhtml-not-encoding-utf-8-correctly), may I suggest a PR?
\libraries\Ttc\src\Freebies\Responsive\Helper.php
row 82:
` $docImage->loadHTML(mb_convert_encoding($image, 'HTML-ENTITIES', 'UTF-8'), LIBXML_HTML

[2022-10-20 11:07] pl71 opened #315 "Excluded Directories to include also all sub-folders"
Hi!
Do "Excluded Directories" include also all sub-folders or not?
I have a gallery (Phoca Gallery) which I want to exclude from processing.
All images are placed in subfolders of '/images/phocagallery' and their (subfolders) count varies.

[2022-10-22 18:43] pl71 opened #317 "OutOfMemoryError"
server and php.ini: "memory_limit = 128M"
Actually tried to convert a png file with relatively big dimensions: 3543 x 3543 pixels (bit depth 32) using GD.
With a disk size of less than 300K, this file is not suspicious.
So memory check is not correct or there is a memory leak.

[2022-10-24 13:21] dgrammatiko commented on #317
That's interesting, the code for the memory checked was contributed by another person. If you could send me the image that causes this at d.grammatiko at gmail dot com I could try to debug it

[2022-10-24 15:34] dgrammatiko commented on #317
Nevermind, fixed

[2022-10-24 15:34] #317 closed, assigned to nobody

[2022-10-27 20:04] dgrammatiko commented on #315
The exclude directories are per folder no recursive functionality. I understand that in some cases is nice to define a top level folder and have everything in there as excluded but unfortunately it will introduce a big break on the current workflow.
It needs to wait till v5 (Aug 23)...

[2022-10-28 09:04] mediafoks opened #318 "Image sizes error"
Joomla 4.2.4, Cassiopeia, Responsive Images v.4.2.0
The default value of Image sizes: 320, 768, 1200. When I change Image sizes to 480, 768, 1200, I get error: "Ttc\Freebies\Responsive\Helper::getSrcSets(): Return value must be of type string, null returned".

[2022-10-28 09:50] dgrammatiko commented on #318
Try removing the spaces and not have a comma at the end

[2022-10-28 09:58] mediafoks commented on #318
Nothing has changed.
If you manually change **template**/html/layouts/joomla/html/image.php: `$breakpoints = [480, 768, 1200];` then it works.

[2022-10-28 09:59] mediafoks commented on #318
Why doesn't it work through the admin panel?

[2022-10-28 10:05] dgrammatiko commented on #318
@mediafoks sorry there was a type hint error, try [4.2.1](https://responsive-images.dgrammatiko.dev/dist/pkg_responsive_4.2.1.zip)

[2022-10-28 10:12] mediafoks commented on #318
Everything is great. Thank you!

[2022-10-28 10:13] dgrammatiko commented on #318
You're welcome, sorry for the glitch

[2022-10-28 10:13] #318 closed, assigned to nobody

[2022-11-03 13:42] pl71 opened #323 "Black background for PNG images."
I'm experiencing also black background of png files, instead of transparent.
[Output ](https://chernorizets.com/?view=article&id=182) vs [image](https://chernorizets.com/images/english.png).
Presently investigating following [solution](https://stackoverflow.com/questions/2611852/imagecreatefrompng-makes-a-black-background-instead-of-transparent).

[2022-11-03 14:31] dgrammatiko commented on #323
What version of the plugin are you using? The latest one should not have this problem

[2022-11-03 19:33] pl71 commented on #323
Yes, 4.2.1 is converting png well. I've cleared already generated images. Thank you.

[2022-11-03 19:33] #323 closed, assigned to nobody

[2022-11-05 21:46] pl71 opened #324 "Memory leak"
Sorry, I can't reopen issue #317, but still experiencing a memory leak.
Responsive Images Plugin is of the latest version 4.2.1, Joomla 4.2.4
White screen with 500 Internal Server Error.
This time in error_log:
`PHP Fatal error:  Allowed memory size of 134217728 bytes exhausted (tried to allocate 16384 bytes) in /.../libraries/Ttc/src/Freebies/Responsive/Thumbs.php on line 34`
Problematic jpeg ima

[2022-11-06 14:02] dgrammatiko commented on #324
Let me know if [this version](https://github.com/ttc-freebies/plugin-responsive-images/files/9945988/pkg_responsive_4.2.2.zip) fixes the bug

[2022-11-06 19:22] pl71 commented on #324
Yes, it is working well. Generated images were cleared and regenerated without errors. Thank you.

[2022-11-11 11:28] dgrammatiko commented on #324
4.2.2 is released with the fix.

Thanks

[2022-11-11 11:28] #324 closed, assigned to nobody

[2022-11-16 20:04] bahman-gh858 opened #328 "Error message after upgrading to 4.2.2"
Joomla: ‎4.2.5
plugin-responsive-images: 4.2.2
Plug-ins were working fine before upgrade to 4.2.2. But after upgrading, the webp images are not created and the images are displayed in original format.
In addition, an error message appears on the screen: Image too big to be processed
But the size of the image is approximately the same as the other images

Do you have any idea what could be wrong?

[2022-11-16 21:19] dgrammatiko commented on #328
Could you email me the image and your settings of the plug-in? D.Grammatiko at gmail dot com

[2022-11-17 11:10] dgrammatiko commented on #328
Could you uninstall and re install the plugin? I couldn't replicate this with the images you send me, which might be due to some file is not up to the Curren version or your server memory is low.

(images/mypic.jpg#joomlaImage://local-images/mypic.jpg?width=420&height=466)

Joomla creates the correct urls for the images, I'm guessing you're using some 3rd PD editor and they are still using the old

[2022-11-17 22:23] bahman-gh858 commented on #328
I uninstalled the plugins and reinstalled it. But it did not help.
I use JCE Editor and I don't have any problem with it. Joomla creates the correct urls as image/mypic.jpg.

 I need to contact with service provider about server memory.  Because plugins work in my laptop.

[2022-11-22 22:20] bahman-gh858 commented on #328
The server has 8GB of memory. It's weird.
- I installed version 4.2.1 without success.
- I uninstalled everything (removed images) etc and reinstalled version 4.2.2, also no success.

When I check the media/cached-resp-images folder, I see that the ___data___ folder is missing. There is only the images folder, which has two empty subfolders with the names of my images.

Something on the server sid